.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: green;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: red;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

/***************************************
Home page
****************************************/

#content {
    background-color: #5d8cd8;
    color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #777;
}