.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: white;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: #ce0000;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

/***************************************
Home page
****************************************/

#content {
    background-color: #5d8cd8;
    color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #777;
    width:80%;
    margin:35px auto 50px auto;
    padding:15px;
}

.seat-chart {
  width:75%;
}

.reserved {
  border-radius:5px;
}

.available {
  border-radius:5px;
}

header {
  background-color:#000063;
  color:white;
  padding:5px;
  width:100%;
  text-align:center;
}

#intro {
  width:65%;
  margin:auto;
}
